* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 100vw;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    margin: auto;
    background-color: #fff;
}

a {
    text-decoration: none;

}

/* Basic cursor styling */
.cursor {
    pointer-events: none;
    position: fixed;
    z-index: 2024;
    width: 40px;
    /* Base size of cursor */
    height: 40px;
    /* Base size of cursor */
    background-color: #fff;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: transform 0.3s ease;
    transform: translate(-50%, -50%);
}


/* Hover-this element styling */
.hover-this {
    display: inline;
    position: relative;
}

.mt-5 {
    margin-top: 50px;
}

.mb-5 {
    margin-bottom: 50px;
}

.ptb-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}


.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* paddings */
.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}


.pb-100 {
    padding-bottom: 100px;
}

.pt-50 {
    padding-top: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.mtb-md-200-150 {
    margin-top: 200px;
    margin-bottom: 150px; 
}

.mb-25 {
    margin-bottom: 25px;
}

.border-solid {
    border: 1px solid  #c9c9c9;
}


@media screen and (max-width : 789px) {

    .mtb-md-200-150 {
        margin-top: 40px;
    margin-bottom: 30px; 
    }
    
    .ptb-s-60 {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .mb-s-10 {
        margin-bottom: 10px;
    }
}


